<div style="height: 100vh; margin: 0.5rem; display: flex; flex-direction: column;">
  <div style="margin-left: auto; margin-right: auto; max-width: 800px; background-color: rgb(239 246 255); border-radius: 1rem; border-width: 1px; border-color: rgb(156 163 175); padding-left: 2rem; padding-right: 2rem;">
    <p style="font-size: 2.25rem;">This website link is outdated.</p>
    <p style="margin-top: 1.5rem; font-size: 1.5rem; line-height: 1.75rem; color: rgb(75 85 99);">My up-to-date website is <a href="https://www.ejmastnak.com/" style="font-weight: bold; color: rgb(3 105 161);">ejmastnak.com</a></p>

    <div style="margin-left: 1rem; margin-top:2rem; font-size: 1.25rem;">
      <p style="color: rgb(75 85 99);">Here are <strong>quick links to up-to-date content</strong> you might have been looking for:</p>
      <ul style="margin-top: 1rem;">
        <li style="margin-top: 1rem"><a style="color: rgb(3 105 161);" href="https://www.ejmastnak.com/tutorials/vim-latex/intro/" >(Neo)Vim-LaTeX tutorial</a></li>
        <li style="margin-top: 1rem"><a style="color: rgb(3 105 161);" href="https://www.ejmastnak.com/notes/fmf/fmf/">FMF lecture notes and solved exercises</a></li>
        <li style="margin-top: 1rem"><a style="color: rgb(3 105 161);" href="https://www.ejmastnak.com/tutorials/arch/about/">Arch Linux tutorials</a></li>
      </ul>
    </div>
  </div>
  <p style="margin-top: auto; margin-left: auto; margin-right: auto; text-align:center; color: rgb(75 85 99);">The outdated site is below...</p>
</div>
